.container {
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;

}

.item {
    width: 15%;
    height: 250px;
    margin: 0.5%;
    text-align: center;

}