<ion-header>
  <ion-toolbar style="display: flex; flex-direction: row;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="end">Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<nav>
  <div style="display: flex; flex-direction: row;">
    <ion-searchbar></ion-searchbar>
    <ion-button (click)="addTask()" class="button-border" color="white" style="zoom:1.25">
      <ion-icon name="duplicate-outline" color="dark"></ion-icon>
    </ion-button>
  </div>
</nav>

<ion-content class="ion-padding">
  <ion-list class="list">
    <ion-item style="cursor:pointer" (click)="this.editTask(tarea)" id="open-modal"
      *ngFor="let tarea of this.tareas; let i=index">
      <ion-icon class="icn" name="document-attach-outline"></ion-icon>
      <div>
        <div>
          <ion-label>Nombre del alumno: {{this.usuarios[i].nombre}}</ion-label>
        </div>
        <div>
          <ion-label>Tarea Asignada a Alumno: {{tarea.tarea}}</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>