<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<nav>
  <div style="display: flex; flex-direction: row;">
    <ion-searchbar></ion-searchbar>
    <ion-button (click)="this.addTask()" style="--background: #141414; zoom:1.25"><ion-icon name="duplicate-outline" style="color: white;"></ion-icon></ion-button>
  </div>
</nav>

<ion-content>
  <div class="container">
    <ion-card (click)="this.editTask(tarea)" class="item" id="open-modal" *ngFor="let tarea of this.tareas;let i=index">
      <ion-icon name="document-attach-outline" style="zoom:10"></ion-icon>
      <ion-card-header>
        <ion-card-title>{{tarea.tarea}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>