<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--nos permite dirigirnos a la pagina anterior a esta-->
      <ion-button (click)="backToModule()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Có. Boja {{this.modulCMB}} </ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <!--Botón que permite cambiar de tema-->
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()">
        </ion-toggle>
      </ion-item>
      <ion-button (click)="editAvatar()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <!--Botón qu permite salir de la sesión actual con el ultimo usuario logueado-->
        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <div>
    <ion-toolbar>
      <ion-title slot="start"> Resultado de Apredizaje de {{modulName}}</ion-title> 
      <!--Botón para agregar una nuevo Ra-->
      <ion-button slot="end" (click)="this.addRa()" style="--background: #141414; zoom:1.25"><ion-icon name="duplicate-outline"></ion-icon></ion-button>
  </ion-toolbar>
  </div>
  <form>
    <ion-toolbar>
      <ion-accordion-group expand="inset">
        <ion-accordion id="open-modal" *ngFor="let listaA of this.ListaRa;let ra=index">
          <ion-item slot="header">
            {{[ra]}}. {{listaA.resultado}}
            <ion-buttons slot="end">
              <ion-button (click)="editRa(listaA)">
                <ion-icon slot="icon-only" color="black" name="newspaper-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item slot="content" *ngFor="let listaE of this.ListaRa[ra].ce;let ce=index">
            {{letras[ce]}}. {{listaE.descripcion}}
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ion-toolbar>
  </form>
</ion-content>