<ion-header>
  <ion-toolbar>
    <ion-title>Có. Boja {{codmodul}} </ion-title>
    <!--Botón que permite cancelar y cerrar el modal-->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ion-padding">Resultado de Apredizaje de {{nommodul}}</div>
</ion-header>
<ion-content class="ion-padding">
  <!--contenido dentro del modal que permite introducir datos y "guardarlos"-->
  <form (ngSubmit)="submitForm()">
    <ion-toolbar>
      <ion-accordion-group expand="inset">
        <ion-accordion value="first" *ngFor="let listaA of this.ListaRa;let ra=index">
          <ion-item slot="header" color="floatbuton" >
            <ion-label>{{ra}}. {{listaA.resultado}} </ion-label>
          </ion-item>
          <ion-item class="ion-padding" slot="content" *ngFor="let listaE of this.ListaCe;let ce=index">
            <ion-label>{{ce}}. {{listaE.descripcion}} </ion-label>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ion-toolbar>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-button (click)="this.addRa(nommodul)" style="zoom:1.25">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-fab>
  </form>
</ion-content>