<ion-header>
  <ion-toolbar>
    <ion-title>Alumno</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-toggle slot="end"
                    [ngModel]="darkMode"
                    (ionChange)="cambio()"></ion-toggle>
      </ion-item>
      <ion-button (click)="editProfile()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de alumnos-->
    <ion-searchbar id="searchempresa" placeholder="Buscar" animated (ionChange)="handleChange($event)" ></ion-searchbar>
  </div>
    <div id="divlist" *ngIf="permision">
      <ion-card (click)="this.viewAlumn(alumno)" class="card" id="open-modal" *ngFor="let alumno of this.filter;let i=index">
        <ion-img
          *ngIf="alumno.imagen!=null"
          src={{alumno.imagen}}
        ></ion-img>
        <ion-icon *ngIf="alumno.imagen==null" name="person-outline" style="zoom:10"></ion-icon>
        <ion-card-header>
          <ion-card-title>{{alumno.nombre}}</ion-card-title>
          <ion-card-subtitle>{{alumno.correo}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  </div>
</ion-content>
