<ion-header>
  <ion-toolbar style="display: flex; flex-direction: row;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Alumno</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="cambio()"></ion-toggle>
      </ion-item>
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<nav>
  <div id="divsearch">
    <ion-searchbar id="searchempresa" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
  </div>
</nav>
<!--
<ion-content>
  <div id="divsearch">
    Busqueda y filtrado de alumnos
    <ion-searchbar id="searchempresa" placeholder="Buscar" animated (ionChange)="handleChange($event)" ></ion-searchbar>
  </div>
    <div id="divlist" *ngIf="permision">
      <ion-card (click)="this.viewAlumn(alumno)" class="card" id="open-modal" *ngFor="let alumno of this.filter;let i=index">
        <ion-img
          *ngIf="alumno.imagen!=null"
          src={{alumno.imagen}}
        ></ion-img>
        <ion-icon *ngIf="alumno.imagen==null" name="person-outline" style="zoom:10"></ion-icon>
        <ion-card-header>
          <ion-card-title>{{alumno.nombre}}</ion-card-title>
          <ion-card-subtitle>{{alumno.correo}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  </div>
</ion-content>
-->

<ion-content class="ion-padding">
  <ion-list class="list">
    <ion-item *ngFor="let alumno of this.filter;let i=index">
      <div>
        <ion-img class="image" style="border-radius: 100%;" *ngIf="alumno.imagen!=null" src={{alumno.imagen}}></ion-img>
      </div>
      <ion-icon class="icn" style="border-radius: 100%;" style="border-radius: 100%;" *ngIf="alumno.imagen==null"
        name="person-outline"></ion-icon>
      <div>
        <div>
          <ion-label>{{alumno.nombre}}</ion-label>
        </div>
        <div>
          <ion-label>{{alumno.correo}}</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>