.container {
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;

}

.card {
    width: 15%;
    height: 250px;
    margin: 0.5%;
    text-align: center;

}
ion-img{
  height: 50%;
}

#divsearch {
  display: flex;
  flex-direction: row;
}

#divlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
}
