<ion-header>
  <ion-toolbar>
    <ion-title>usuarioEdit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <form [formGroup]="todo">
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-textarea formControlName="correo"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>DNI/NIF</ion-label>
            <ion-textarea formControlName="doc"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>De Alta</ion-label>
            <ion-textarea formControlName="alta"></ion-textarea>
          </ion-item>

          <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!todo.valid">Guardar</ion-button>
        </form>
    </ng-template>
  </ion-modal>
</ion-content>
