<ion-header>
  <ion-toolbar>
    <ion-title>Crear </ion-title>
    <!--Botón que permite cancelar y cerrar el modal-->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--contenido dentro del modal que permite introducir datos y "guardarlos"-->
<ion-content class="ion-padding">
  <form [formGroup]="formUsuario" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" placeholder="nombre de usuario" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="correo" placeholder="correo electrónico" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DNI/NIF</ion-label>
      <ion-input formControlName="documentos" placeholder="documento de identidad" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Alta</ion-label>
      <ion-checkbox formControlName="alta" slot="end" ></ion-checkbox>
    </ion-item>
    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!formUsuario.valid">Guardar</ion-button>
  </form>
</ion-content>