.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #2dbfd3;
  transform: rotate(0deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
}

.header-content img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 7px solid #2dbfd3;
  margin-right: 15px;
}

.header-content h2 {
  font-weight: 300;
  color: #fff;
}

.header-content p {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.4px;
}

.menu-item {
  margin: 0px;
}

.menu-item ion-icon {
  margin-right: 20px;
  color: #2dbfd3;
}

.menu-item ion-item {
  padding-left: 20px;
  margin-bottom: 10px;
  --border-radius: 10px;
}

.ac-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ac-button ion-button {
  text-transform: capitalize;
  font-weight: 300;
  --background: blue;
  --border-radius: 7px;
  --box-shadow: none;
}

.ac-button ion-icon {
  margin-right: 1px;
}

ion-menu::part(backdrop) {
  background-color: rgba(228, 235, 234, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
}

.content-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}