<ion-header [translucent]="true" id="Empresa">
  <ion-toolbar>
    <ion-title>{{empresa}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar id="searchempresa" placeholder="Buscar"></ion-searchbar>
  <ion-card  id="open-modal" (click)="nuevaempresa()">
    <img src="assets/add.png"  />
    <ion-card-header>
      <ion-card-title>Nueva empresa</ion-card-title>
      <ion-card-subtitle>Agrega un nueva empresa</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
