ion-card{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-content: center;
    width: 200px;
}
#divlist{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

#divsearch{
  display: flex; 
  flex-direction: row;
}

img{
  width: 150px;
  height: 150px;
}

.insideDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 10px;
  height: 10px;
}