#{titlemodal} {
  modal-wrapper {
    height: 30%;
    width: 90%;
    border-radius: 15px;
  }
}

#divsearch {
  display: flex;
  flex-direction: row;
}

ion-list {
  ion-item {
    border-radius: 6px; 
    margin: 3px;
    &:hover {
      cursor: pointer; 
      ion-label{
        color:#2dbfd3;
      }
    }
  }
  &:hover {
    border-radius: 6px;
  }
}