<ion-header>
  <ion-toolbar>
    <ion-title>Ciclo Formativo</ion-title>
    <ion-buttons slot="end">
      <!--Botón que permite salir de la sesión actual con el ultimo usuario logueado-->
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de títulos-->
    <ion-searchbar id="searchtitulo" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
    <!--Botón para agregar un nuevo título-->
    <ion-button (click)="this.addTitle()" style="--background: #141414; zoom:1.25"><ion-icon name="duplicate-outline" style="color: white;"></ion-icon></ion-button>
  </div>
<!--Lista de objetos de tipo título que al seleccionar un "ion-item" pasa a la siguiente ventana en el que muestra los módulos de este título en concreto-->
  <ion-list lines="inset" *ngFor="let lista of this.filter;let i=index" (click)="toTitleToModul(lista)">
    <ion-item id="open-modal" expand="block">
      <ion-label>
        <h1>{{lista.nombre}}</h1>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>