<ion-header>
  <ion-toolbar style="display: flex; flex-direction: row;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ciclo Formativo</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <!--Botón que permite cambiar de tema-->
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()">
        </ion-toggle>
      </ion-item>
      <ion-button (click)="editAvatar()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <!--Botón qu permite salir de la sesión actual con el ultimo usuario logueado-->
        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de títulos-->
    <ion-searchbar id="searchtitulo" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
    <!--Botón para agregar un nuevo título-->
    <ion-button (click)="this.addTittle()" style="--background: #141414; zoom:1.25"><ion-icon name="duplicate-outline" style="color: white;"></ion-icon></ion-button>
  </div>
<!--Lista de objetos de tipo título que al seleccionar un "ion-item" pasa a la siguiente ventana en el que muestra los módulos de este título en concreto-->
  <ion-list lines="inset" *ngFor="let listaTittle of this.filter;let i=index">
    <ion-item id="open-modal" expand="block" >
      <ion-label (click)="navToModule(listaTittle)">
        <h1>{{listaTittle.nombre}}</h1>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editTitle(listaTittle)">
          <ion-icon slot="icon-only" color="black" name="newspaper-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>