<ion-header>
  <ion-toolbar>
    <ion-title>crear {{practica}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPractica" (ngSubmit)="submitForm()">


    <!--SELECIONAR EMPRESA-->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-select interface="popover" formControlName="Empresa" placeholder="Selecciona empresa">
          <ion-select-option value="apples"
            *ngFor="let listaE of this.listEmp;let i=index">{{listaE.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!--SELECIONAR ALUMNO-->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Alumno</ion-label>
        <ion-select interface="popover" formControlName="Alumno" placeholder="Selecciona alumno">
          <ion-select-option value="apples"
            *ngFor="let listaA of this.listAlu;let i=index">{{listaA.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!--SELECIONAR FECHA INICIO-->
    <ion-item>
      <ion-label position="fixed">F. Inicio</ion-label>
      <ion-datetime-button datetime="finicio" ></ion-datetime-button>
    </ion-item>


    <!--SELECIONAR FECHA FIN-->
    <ion-item>
      <ion-label position="fixed">F. fin</ion-label>
      <ion-datetime-button datetime="ffin"></ion-datetime-button>
    </ion-item>
    <ion-button shape="round" color="primary" fill="outline" type="submit"
      [disabled]="!formPractica.valid">Guardar</ion-button>
  </form>

</ion-content>