<ion-header>
  <ion-toolbar>
    <ion-title>{{title}} modulo</ion-title>
    <!--Botón que permite cancelar y cerrar el modal-->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Botón que permite cancelar y cerrar el modal-->
<ion-content class="ion-padding">
  <form [formGroup]="formModulo" (ngSubmit)="submitForm()">
    <ion-item counter="true" fill="solid">
      <ion-label position="floating">Co. Módulo</ion-label>
      <ion-input maxlength="4" formControlName="cod_mod_boja" placeholder="Código del módulo"></ion-input>
      <ion-note slot="error">solo permite números</ion-note>
    </ion-item>
    <ion-item counter="true" fill="solid">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input maxlength="120" formControlName="nombre" placeholder="Nombre"></ion-input>
      <ion-note slot="error">solo permite letras</ion-note>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col id="btnDelete" style="text-align: left;">
          <ion-button shape="round" color="danger" fill="outline" (click)="onDelete()">Eliminar</ion-button>
        </ion-col>  
        <ion-col style="text-align: right;">
          <ion-button shape="round" color="success" type="submit"
            [disabled]="this.formModulo.pristine">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>