<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formTask" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Tarea</ion-label>
      <ion-input formControlName="taskname" placeholder="Nombre de la Tarea" ></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Alumno</ion-label>
        <ion-select #select interface="popover" placeholder="Selecciona alumno">
          <ion-select-option
            *ngFor="let periodo of this.periodos;let i=index" [value]="periodo.id">{{periodo.id_alumno?.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-checkbox formControlName="taskstatus" slot="end" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-input readonly formControlName="taskdate" placeholder="Fecha actual"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col  style="text-align: right;">
          <ion-button class="btnSave" shape="round" color="success" type="submit" [disabled]="!formTask.valid">SAVE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>