<ion-header>
  <ion-toolbar>
    <ion-title>Crear modulo</ion-title>
    <!--Botón que permite cancelar y cerrar el modal-->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Botón que permite cancelar y cerrar el modal-->
<ion-content class="ion-padding">
  <form [formGroup]="formModulo" (ngSubmit)="submitForm()">
    <ion-item counter="true" fill="solid">
      <ion-label position="floating">Co. Módulo</ion-label>
      <ion-input  maxlength="4" formControlName="cod_mod_boja" placeholder="Código del módulo"></ion-input>
      <ion-note slot="error">solo permite números</ion-note>
    </ion-item>
    <ion-item counter="true" fill="solid">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input maxlength="120" formControlName="nombre" placeholder="Nombre"></ion-input>
      <ion-note slot="error">solo permite letras</ion-note>
    </ion-item>
    <ion-item counter="true" fill="solid">
      <ion-select interface="popover" formControlName="titulo" placeholder="Selecciona título">
        <ion-select-option *ngFor="let lista of listaTitulos"
          [value]="lista.id">{{lista.nombre}}</ion-select-option>
      </ion-select>
      <ion-note slot="error"></ion-note>
    </ion-item>
    <ion-button shape="round" color="primary" fill="outline" type="submit"
      [disabled]="!formModulo.valid">Guardar</ion-button>
  </form>
</ion-content>