<ion-header>
  <ion-toolbar>
    <ion-title id="title">Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-toggle slot="end"
                    [ngModel]="darkMode"
                    (ionChange)="cambio()"></ion-toggle>
      </ion-item>
      <ion-button (click)="editProfile()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let tarea of this.encargos" >
      <tarea [encargo]=tarea style="cursor: pointer;"></tarea>
    </ng-container>
  </ion-list>
</ion-content>
