<ion-header>
  <ion-toolbar style="display: flex; flex-direction: row;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de alumnos-->
    <ion-searchbar id="searchempresa" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
    <!--Botón para agregar un nuevo alumno-->
    <ion-button (click)="nuevoalumno()" color="white" style=" zoom:1.25">
      <ion-icon name="duplicate-outline" color="dark"></ion-icon>
    </ion-button>
  </div>
<!--Lista de objetos de tipo alumno que al seleccionar un "ion-card" se abra un modal con el contenido de ese alumno en concreto-->
<div id="divlist" *ngIf="permision">
<ion-list class="list">
    <ion-item  *ngFor="let lista of this.filter;let i=index" (click)="this.editalumno(lista)">
      <ion-img class="image" style="border-radius: 100%;" *ngIf="lista.imagen!=null" src={{lista.imagen}}></ion-img>
      <ion-icon class="icn" style="border-radius: 100%;" style="border-radius: 100%;" *ngIf="lista.imagen==null"
        name="person-outline"></ion-icon>
        <h4> <ion-label>{{lista.nombre}}</ion-label>
          <ion-label>Correo: {{lista.correo}}</ion-label>
        </h4>
    </ion-item>
  </ion-list>
</div> 
    <!--
  <div id="divlist" *ngIf="permision">
    <ion-card id="open-modal" *ngFor="let lista of this.filter;let i=index" (click)="this.editalumno(lista)">
      <ion-img *ngIf="lista.imagen!=null" src={{lista.imagen}}></ion-img>
      <ion-icon *ngIf="lista.imagen==null" name="person-outline" style="zoom:10"></ion-icon>
      <ion-card-header>
        <ion-card-title>{{lista.nombre}}</ion-card-title>
        <ion-card-subtitle>{{lista.correo}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  -->
</ion-content>