<ion-header>
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-toggle slot="end"
                    [ngModel]="darkMode"
                    (ionChange)="change()"></ion-toggle>
      </ion-item>
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<nav>
  <div style="display: flex; flex-direction: row;">
    <ion-searchbar placeholder="Search..." (ionChange)="searchUserByName($event)"></ion-searchbar>
      <ion-button (click)="addUser()" color="white" style="zoom:1.25">
        <ion-icon name="duplicate-outline" color="dark"></ion-icon>
      </ion-button>
  </div>
</nav>

<ion-content class="ion-padding">
  <ion-list class="list">
    <ion-item *ngFor="let user of searched" (click)="editUser(user)">
      <div>
       <ion-img class="image" style="border-radius: 100%;" *ngIf="user.imagen!=null" src={{user.imagen}}></ion-img>
      </div>
      <ion-icon class="icn" style="border-radius: 100%;" *ngIf="user.imagen==null" name="person-outline"></ion-icon>
      <div>
        <ion-label>&nbsp;&nbsp;{{user.nombre}}</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>