<ion-header>
  <ion-toolbar>
    <ion-title>Crear {{title}}</ion-title>
    <!--Botón que permite cancelar y cerrar el modal-->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--contenido dentro del modal que permite introducir datos y "guardarlos"-->
<ion-content class="ion-padding">
  <form [formGroup]="formTitulo" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="titulo" placeholder="titulo" ></ion-input>
    </ion-item>
    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!formTitulo.valid">Guardar</ion-button>
  </form>
</ion-content>
