<ion-header>
  <ion-toolbar>
    <ion-title> {{practica}}</ion-title>
    <!--Botón que permite cancelar y cerrar el modal-->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--contenido dentro del modal que permite introducir datos y "guardarlos"-->
<ion-content>
  <form [formGroup]="formPractica" (ngSubmit)="submitForm()">
    <!--Muestra una lista de todas las empresas creadas-->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-select #selectBusiness interface="popover" placeholder="Selecciona empresa">
          <ion-select-option *ngFor="let listaE of this.listEmp;let i=index " [value]="listaE.id">{{listaE.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--Muestra una lista de todos los alumnos creados-->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Alumno</ion-label>
        <ion-select #selectAlumn interface="popover" placeholder="Selecciona alumno">
          <ion-select-option *ngFor="let listaA of this.listAlu;let i=index" [value]="listaA.id">{{listaA.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--SELECIONAR FECHA INICIO-->
    <ion-item>
      <ion-label position="fixed">F. Inicio</ion-label>
      <ion-datetime-button targ slot="end" datetime="finicio">
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="finicio" formControlName="tiempo_inicio"
              displayFormat="YYYY-MM-DDTHH:mm:ss.SSSZ" (ionChange)="onDateChange($event)"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-datetime-button>
    </ion-item>
    <!--SELECIONAR FECHA FIN-->
    <ion-item>
      <ion-label position="fixed">F. fin</ion-label>
      <ion-datetime-button targ slot="end" datetime="ffin">
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="ffin" formControlName="tiempo_final"
              displayFormat="YYYY-MM-DDTHH:mm:ss.SSSZ" (ionChange)="onDateChange($event)"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-datetime-button>
    </ion-item>
    <!--SELECCIONAR EL ESTADO-->
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-checkbox formControlName="estado" slot="end"></ion-checkbox>
    </ion-item>
    <!--PRESIONA EL BOTÓN GUARDAR-->
    <ion-grid>
      <ion-row>
        <ion-col id="btnDelete" style="text-align: left;">
          <ion-button shape="round" color="danger" fill="outline" (click)="onDelete()">Eliminar</ion-button>
        </ion-col>  
        <ion-col style="text-align: right;">
          <ion-button shape="round" color="success" type="submit" [disabled]="this.formPractica.pristine">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
