#title{
    font-weight: bolder;
}
ion-title{
    color: black;
    margin-top: 5pt;
}
#fecha{
    text-align: right;
    font-size: 11pt;
}
#check{
    padding-left: 17px;
    color: rgb(40, 215, 40);
    font-size: 25pt;
}
#proces{
    padding-left: 17px;
    color: rgb(230, 146, 12);
    font-size: 25pt;
}

