<ion-header>
  <ion-toolbar style="display: flex; flex-direction: row;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Periodo de {{practica}}</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <!--Botón que permite cambiar de tema-->
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()">
        </ion-toggle>
      </ion-item>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de periodos de practicas-->
    <ion-searchbar id="searchpp" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
    <!--Botón para agregar un nuevo periodo de practicas-->
    <ion-button (click)="nuevaPractica()"style="--background: #141414; zoom:1.25"><ion-icon name="duplicate-outline" style="color: white;"></ion-icon></ion-button>
  </div>

  <!--Lista de objetos de tipo periodos de practicas que al seleccionar un "ion-card" se abra un modal con el contenido de este periodo de practicas en concreto-->
  <div id="divlist">
    <ion-card id="open-modal" *ngFor="let lista of this.filter;let i=index" (click)="this.editPractica(lista)">
      <ion-img *ngIf="lista.imagen!=null" src={{lista.imagen}}></ion-img>
      <ion-icon *ngIf="lista.imagen==null" name="person-outline" style="zoom:10"></ion-icon>
      <ion-card-header>
        <ion-card-title> {{lista.id_empresa?.nombre}}</ion-card-title>
        <h4>{{lista.id_alumno?.nombre}}</h4>
        <ion-card-subtitle> {{lista.tiempo_inicio |date : 'd MMM, y'}}</ion-card-subtitle>
        <ion-card-subtitle> {{lista.tiempo_final |date : 'd MMM, y'}}</ion-card-subtitle>

      </ion-card-header>
    </ion-card>
  </div>
</ion-content>