<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--nos permite dirigirnos a la pagina anterior a esta-->
      <ion-button (click)="backToTitle()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Módulos de {{tittleName}} </ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <!--Botón que permite cambiar de tema-->
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()">
        </ion-toggle>
      </ion-item>
      <ion-button (click)="editAvatar()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <!--Botón qu permite salir de la sesión actual con el ultimo usuario logueado-->
        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de modulos-->
    <ion-searchbar id="searchmodulo" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
    <!--Botón para agregar una nuevo módulo-->
    <ion-button (click)="this.addModul()" style="--background: #141414; zoom:1.25"><ion-icon name="duplicate-outline"></ion-icon></ion-button>
  </div>
<!--Lista de objetos de tipo modulo que al seleccionar un "ion-item" se abra un modal con el contenido de RA que se da en este modulo en concreto-->
  <ion-list lines="inset">
    <ion-item id="open-modal" *ngFor="let listamodul of this.filter;let i=index" >
      <ion-label  (click)="navToRa(listamodul)">
        <h3>{{listamodul.nombre}}</h3>
        <p>Có. Boja: {{listamodul.cod_mod_boja}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editModule(listamodul)">
          <ion-icon slot="icon-only" color="black" name="newspaper-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  
</ion-content>