<ion-header>
  <ion-toolbar>
    <!--nos permite dirigirnos a la pagina anterior a esta-->
    <ion-title>Módulos de </ion-title>
    <ion-buttons slot="end">
      <!--Botón que permite salir de la sesión actual con el ultimo usuario logueado-->
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divsearch">
    <!--Busqueda y filtrado de modulos-->
    <ion-searchbar id="searchmodulo" placeholder="Buscar" animated (ionChange)="handleChange($event)"></ion-searchbar>
    <!--Botón para agregar una nuevo módulo-->
    <ion-button (click)="this.addModul()" style="zoom:1.25"><ion-icon name="duplicate-outline"></ion-icon></ion-button>
  </div>
<!--Lista de objetos de tipo modulo que al seleccionar un "ion-item" se abra un modal con el contenido de RA que se da en este modulo en concreto-->
  <ion-list lines="inset">
    <ion-item id="open-modal" *ngFor="let lista of this.filter;let i=index" expand="block" (click)="listaRAModul(lista)">
      <ion-label>
        <h3>Có. Boja: {{lista.cod_mod_boja}}</h3>
        <p>{{lista.nombre}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>