#comentario{
    margin-top: 10pt;
  
}
#title{
    color: #33d9f0;
    margin-left: 8%;
}
ion-title{
    color: black;
    padding: 0;
    font-weight: bolder;
}

ion-content{
    --padding-bottom:0px;
    --padding-end:0px;
    --offset-bottom:0px;
  }