.img{
    align-content: center;
    width: 90%;
    padding-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    cursor: pointer;
}

.icon{
    align-content: center;
    cursor: pointer;
}

