<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProfile" (ngSubmit)="submitForm()">
    <ion-icon *ngIf="image==null" (click)="chooseImage()"  class="img" name="person-outline" style="zoom:10"></ion-icon>
    <ion-img *ngIf="image!=null" (click)="chooseImage()"  class="icon" [src]="image"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col id="btn" style="text-align: left;">
          <ion-button class="btnCancel" shape="round" color="danger" fill="outline" (click)="cancel()">CANCEL</ion-button>
        </ion-col>
        <ion-col  style="text-align: right;">
          <ion-button class="btnSave" shape="round" color="success" type="submit" >SAVE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>