/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
    --ion-color-floatbuton: #33d9f0;
    --ion-color-primary: #33d9f0;
    --ion-color-floatbuton-rgb: 51, 217, 240;
    --ion-color-floatbuton-contrast: #000000;
    --ion-color-floatbuton-contrast-rgb: 0, 0, 0;
    --ion-color-floatbuton-shade: #2dbfd3;
    --ion-color-floatbuton-tint: #47ddf2;
}

.ion-color-floatbuton {
    --ion-color-base: var(--ion-color-floatbuton);
    --ion-color-base-rgb: var(--ion-color-floatbuton-rgb);
    --ion-color-contrast: var(--ion-color-floatbuton-contrast);
    --ion-color-contrast-rgb: var(--ion-color-floatbuton-contrast-rgb);
    --ion-color-shade: var(--ion-color-floatbuton-shade);
    --ion-color-tint: var(--ion-color-floatbuton-tint);
}

ion-fab-button {
    --background: #33d9f0;
    --background-activated: #2dbfd3;
    --background-hover: #47ddf2;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3), 0px 1px 3px 1px rgba(0, 0, 0, .15);
    --color: black;
}

p,
h1,
h2,
h3,
h4,
label,
ion-title, ion-card-title{
    color: #33d9f0;
}

ion-label{
    color: #000000;
    font-weight: 4px;
}

#lisras{
    display: flex;
    align-items: flex-start;
    }